.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: #FFF2CC;
    
}
.subheader{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}

.title_logo{
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}
.img_logo {
    width: 30%;
    
}
.btn_carrinho{
    background-color: #FFF2CC;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.num_carrinho {
    position: relative;
    top: -20px;
    right: 40px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF2CC;
}

.img_carrinho{
    height: 50px;
    width: 50px;
    margin-right: 30px;
    color: darkblue;
}
